body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../images/background.webp');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

main {
    flex: 1 0 auto;
}

h3 {
    border-radius: 5px;
}

.input-field {
    border-radius: 5px;
}

p {
    border-radius: 5px;
}

.charbg {
    border-radius: 5px;
}

.foottext {
    margin-bottom: 20px
}

footer {
    margin-top: 20px;
}


/* .container {
    background-color: rgba(0,0,0,0.5);
} */

/* .profile img {
    height: 10vh !important;
    width: 50%;
} */

/* .tooltipped {
    margin: 0px !important;
} */

/* .card img {
    height: 50%;
    width: 50%;
} */

/* .container {
    opacity: 0.5;
} */