body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../images/background.webp');
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}

@media screen and (max-width: 700px) {
    body {
        background-image: url('../images/mobile-background.webp');
    }
    
}

main {
    flex: 1 0 auto;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.5);
}

h3 {
    border-radius: 5px;
}

h2 {
    border-radius: 5px;
}

.input-field {
    border-radius: 5px;
}

p {
    border-radius: 5px;
}

.charbg {
    border-radius: 5px;
}

.foottext {
    margin-bottom: 20px
}

footer {
    margin-top: 20px;
}