{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4">
                {% if character.character_race == 'Dragonborn' %}
                <img src="{{ url_for('static', filename='images/races/canva-dragonborn.webp') }}" alt="Dragonborn image" class="circle responsive-img">
                {% elif character.character_race == 'Dwarf' %}
                <img src="{{ url_for('static', filename='images/races/canva-dwarf.webp') }}" alt="Dwarf image" class="circle responsive-img">
                {% elif character.character_race == 'Elf' %}
                <img src="{{ url_for('static', filename='images/races/canva-elf.webp') }}" alt="Elf image" class="circle responsive-img">
                {% elif character.character_race == 'Gnome' %}
                <img src="{{ url_for('static', filename='images/races/canva-gnome.webp') }}" alt="Gnome image" class="circle responsive-img">
                {% elif character.character_race == 'Half-Elf' %}
                <img src="{{ url_for('static', filename='images/races/canva-half-elf.webp') }}" alt="Half-Elf image" class="circle responsive-img">
                {% elif character.character_race == 'Halfling' %}
                <img src="{{ url_for('static', filename='images/races/canva-halfling.webp') }}" alt="Halfling image" class="circle responsive-img">
                {% elif character.character_race == 'Half-Orc' %}
                <img src="{{ url_for('static', filename='images/races/canva-half-orc.webp') }}" alt="Half-Orc image" class="circle responsive-img">
                {% elif character.character_race == 'Human' %}
                <img src="{{ url_for('static', filename='images/races/canva-human.webp') }}" alt="Human image" class="circle responsive-img">
                {% elif character.character_race == 'Tiefling' %}
                <img src="{{ url_for('static', filename='images/races/canva-tiefling.webp') }}" alt="Tiefling image" class="circle responsive-img">
                {% endif %}
            </div> 
            <div class="col s8 offset-s2 center-align m6 offset-m3 l8 offset-l2">
                <p class="flow-text white-text red lighten-2">{{ character.character_name }}</p>
                <p class="flow-text white-text red lighten-2">Level {{ character.character_level }} {{ character.character_race }} {{ character.character_class }}</p>
            </div>
            <div class="col s4 m4 l4">
                <p class="center-align white-text red lighten-2">Strength: {{ character.character_strength }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text red lighten-2">Dexterity: {{ character.character_dexterity }}</p>
            </div>
        

            <div class="col s4 m4 l4">
                <p class="center-align white-text red lighten-2">Constitution: {{ character.character_constitution }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text red lighten-2">Intelligence: {{ character.character_intelligence }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text red lighten-2">Wisdom: {{ character.character_wisdom }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text red lighten-2">Charisma: {{ character.character_charisma }}</p>
            </div>
        </div>

        <div class="container">
            <!-- Character background -->
                <div class="charbg white-text red lighten-2">
                    <h6 class="center-align white-text">Background</h6>
                    <p class="center-align white-text">{{ character.character_background }}</p>
                </div>

            <!-- Back to characters page -->
            <div class="center-align">
                <a class="waves-effect waves-heavy btn-large red lighten-2" href="{{ url_for('characters') }}">Back</a>
                <a class="waves-effect waves-heavy btn-large red lighten-2" href="{{ url_for('delete_character', character_id=character.id) }}">Delete?</a>
            </div>
        </div>
    </div>

{% endblock %}