{% extends "base.html" %}
{% block content %}
    <div class="container">
        <br>
    </div>
    <div class="container">
        <div class="row">
            <!-- Character image -->
            <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4">
                {% if character.character_race == 'Dragonborn' %}
                <img src="{{ url_for('static', filename='images/races/canva-dragonborn.webp') }}" alt="Dragonborn image" class="circle responsive-img">
                {% elif character.character_race == 'Dwarf' %}
                <img src="{{ url_for('static', filename='images/races/canva-dwarf.webp') }}" alt="Dwarf image" class="circle responsive-img">
                {% elif character.character_race == 'Elf' %}
                <img src="{{ url_for('static', filename='images/races/canva-elf.webp') }}" alt="Elf image" class="circle responsive-img">
                {% elif character.character_race == 'Gnome' %}
                <img src="{{ url_for('static', filename='images/races/canva-gnome.webp') }}" alt="Gnome image" class="circle responsive-img">
                {% elif character.character_race == 'Half-Elf' %}
                <img src="{{ url_for('static', filename='images/races/canva-half-elf.webp') }}" alt="Half-Elf image" class="circle responsive-img">
                {% elif character.character_race == 'Halfling' %}
                <img src="{{ url_for('static', filename='images/races/canva-halfling.webp') }}" alt="Halfling image" class="circle responsive-img">
                {% elif character.character_race == 'Half-Orc' %}
                <img src="{{ url_for('static', filename='images/races/canva-half-orc.webp') }}" alt="Half-Orc image" class="circle responsive-img">
                {% elif character.character_race == 'Human' %}
                <img src="{{ url_for('static', filename='images/races/canva-human.webp') }}" alt="Human image" class="circle responsive-img">
                {% elif character.character_race == 'Tiefling' %}
                <img src="{{ url_for('static', filename='images/races/canva-tiefling.webp') }}" alt="Tiefling image" class="circle responsive-img">
                {% endif %}
            </div>

            <!-- Character information -->
            <div class="col s8 offset-s2 center-align m6 offset-m3 l8 offset-l2">
                <p class="flow-text white-text shadow">{{ character.character_name }}</p>
                <p class="flow-text white-text shadow">Level {{ character.character_level }} {{ character.character_race }} {{ character.character_class }}</p>
            </div>
            <div class="col s4 m4 l4">
                <p class="center-align white-text shadow">Strength: {{ character.character_strength }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text shadow">Dexterity: {{ character.character_dexterity }}</p>
            </div>
        
            <div class="col s4 m4 l4">
                <p class="center-align white-text shadow">Constitution: {{ character.character_constitution }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text shadow">Intelligence: {{ character.character_intelligence }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text shadow">Wisdom: {{ character.character_wisdom }}</p>
            </div>

            <div class="col s4 m4 l4">
                <p class="center-align white-text shadow">Charisma: {{ character.character_charisma }}</p>
            </div>
        </div>

        <div class="container">
            <!-- Character background -->
                <div class="charbg white-text shadow">
                    <h6 class="center-align white-text">Background</h6>
                    <p class="center-align white-text">{{ character.character_background }}</p>
                </div>

            <!-- Back to characters page or delete -->
            <div class="center-align">
                <a class="waves-effect waves-heavy btn-large shadow" href="{{ url_for('characters') }}">Back</a>
                <a class="waves-effect waves-heavy btn-large modal-trigger shadow" href="#modal1">Delete</a>
            </div>

            <!-- Modal -->
            <div id="modal1" class="modal shadow">
                <div class="modal-content center-align white-text shadow">
                  <h4>Are you sure you want to delete {{ character.character_name }}?</h4>
                  <p>Once you press 'Delete', your character will be gone forever. Are you sure that is what you want to do?</p>
                </div>
                <div class="center-align shadow">
                  <a href="#!" class="modal-close waves-effect waves-green btn white-text shadow">Cancel</a>
                  <a href="{{ url_for('delete_character', character_id=character.id) }}" class="modal-close waves-effect waves-green btn white-text shadow">Yes, delete {{ character.character_name }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}