{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3 class="center-align white-text shadow">Your Characters</h3>
    </div>

    <!-- Add character button -->
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_character') }}" class="btn-large shadow">
                Add Character <i class="fas fa-plus-square right"></i>
            </a>
        </div>
    </div>

    <!-- Character display -->
    <div class="row">
        {% set sorted_characters = characters | sort(attribute='character_level', reverse=true) %}
        {% for character in sorted_characters %}
        <div class="col s12 m6 l4">
            <div class="card-panel shadow white-text z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s5">
                        <!-- Elif to display the correct image for the chosen race -->
                        {% if character.character_race == 'Dragonborn' %}
                        <img src="{{ url_for('static', filename='images/races/canva-dragonborn.webp') }}" alt="Dragonborn image" class="circle responsive-img">
                        {% elif character.character_race == 'Dwarf' %}
                        <img src="{{ url_for('static', filename='images/races/canva-dwarf.webp') }}" alt="Dwarf image" class="circle responsive-img">
                        {% elif character.character_race == 'Elf' %}
                        <img src="{{ url_for('static', filename='images/races/canva-elf.webp') }}" alt="Elf image" class="circle responsive-img">
                        {% elif character.character_race == 'Gnome' %}
                        <img src="{{ url_for('static', filename='images/races/canva-gnome.webp') }}" alt="Gnome image" class="circle responsive-img">
                        {% elif character.character_race == 'Half-Elf' %}
                        <img src="{{ url_for('static', filename='images/races/canva-half-elf.webp') }}" alt="Half-Elf image" class="circle responsive-img">
                        {% elif character.character_race == 'Halfling' %}
                        <img src="{{ url_for('static', filename='images/races/canva-halfling.webp') }}" alt="Halfling image" class="circle responsive-img">
                        {% elif character.character_race == 'Half-Orc' %}
                        <img src="{{ url_for('static', filename='images/races/canva-half-orc.webp') }}" alt="Half-Orc image" class="circle responsive-img">
                        {% elif character.character_race == 'Human' %}
                        <img src="{{ url_for('static', filename='images/races/canva-human.webp') }}" alt="Human image" class="circle responsive-img">
                        {% elif character.character_race == 'Tiefling' %}
                        <img src="{{ url_for('static', filename='images/races/canva-tiefling.webp') }}" alt="Tiefling image" class="circle responsive-img">
                        {% endif %}
                    </div>

                    <!-- Character information-->
                    <div class="col s10">
                        <p>{{ character.character_name }}</p>
                        <p>Level {{ character.character_level }} {{character.character_race}} {{character.character_class}}</p>
                        <div class="col s5">
                            <!-- View character -->
                            <a class="waves-effect waves-heavy btn-large shadow" href="{{ url_for('character_view', character_id=character.id) }}">View</a>
                        </div>
                        <div class="col s5">
                            <!-- Edit character -->
                            <a class="waves-effect waves-heavy btn-large shadow" href="{{ url_for('edit_character', character_id=character.id) }}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}